<!DOCTYPE html>
<html lang="en">
<head>
     <link rel= "stylesheet" type= "text/css" href= "../static/my_styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>

</head>
<body>

    <div class="button-container">
        <a href="to_do_list.html"><button class="button">TO DO LIST</button></a>
        <a href="to_do_list.html"><button class="button">POMODORO</button></a>
        <a href="to_do_list.html"><button class="button">SETTING</button></a>
        <a href="to_do_list.html"><button class="button">Dark mode</button></a>
    </div>

    <div class="spacer">
        <h1>welcome to AI POWERED TO DO LIST</h1>
    </div>


</body>
</html>
